.home{
  background-image: url('pb.jpeg');
  background-repeat: no-repeat;
  background-size: cover;
  height: 900px;
}
.ABOUT{
  background-color: #DFBB9D;
}
body{
  background-color: #E9D5CA;
}

.navbar-toggler{
  opacity: 0.8;
  background-color: #980F5A;
}

.navbar-brand{
  color: white;
  text-shadow: 1px 1px 1px #980F5A;
  font-family: monospace;
  font-weight: bolder;
  font-size: 35px;
  margin-left: 100px;
  margin-top: 10px;
  margin-bottom: 0px;
}

.btn{
  background-color: #980F5A;
  color: white;
  border-radius: 20px;
  font-family: monospace;
  font-weight: bold;
  margin-right: 100px;
}
.right{
margin-left: 210px;
text-shadow: 1px 1px 1px black;
}
.nav-link{
  color: white;
  font-weight: bold;
  margin-left: 50px;
  margin-top: 10px;
  margin-bottom: 0px;
  font-size: 17px;
  text-shadow: 1px 1px 1px black;
}
.navbar{
  transform: translate(-80% -80%);
    background: rgba(255, 255, 255, 0.05);
    box-shadow: 0 1px 2px rgba(0,0,0,0.9);
    height: 60px;

}
.color{
  color: #980F5A;
  //text-shadow: 1px 1px 1px white;
}
.head1{
  margin-bottom: 100px;
  margin-top: 200px;
  margin-left: 0px;
}
h1{
font-family: 'Righteous', cursive;
  color: black;
  font-size: 98px;
  text-shadow: 1px 1px 1px #980F5A;
}

.head1 h3{
font-family: monospace;
  color: black;
font-size: 30px;
}
.me{
  height: 700px;
  float: center;
  margin-top: 10px;
  border-radius: 80px;
  transform: rotate(15deg) skew(3deg);
position: absolute;
box-shadow: 0px 0px 20px black;
}
.me2{
  height: 700px;
  float: center;
  margin-top: 10px;
  border-radius: 80px;
  transform: rotate(-15deg) skew(3deg);
  position: relative;
}

.about .Atext{
  color: white;
  font-weight: bold;
  font-family: 'Jost', sans-serif;
}
.about{
  width: 100%;
  padding: 20px;
  margin-top: 20px;
}
.aboutMe button{
  background-color: #980F5A;
  color: white;
  margin-top: 30px;
  border-radius: 10px;
}
.skills{
  background-color: black;
 //margin-bottom: 100px;
 height: 700px;
 background-image: url('sb4.webp');
 background-repeat: no-repeat;
 background-size: 100% 100%;

}
.skills h1{
  margin-top: 160px;
  margin-bottom: 200px;
  font size: 90px;
  color: #980F5A;
  //transform: rotate(-20deg) skew(25deg);
  animation: animate 7s ease-in-out infinite;
  //font-family: 'Righteous', cursive;
  font-weight: lighter;
  font-family: 'Titan One', cursive;
}
@keyframes animate {
0%,100%
{
// transform: rotate(-20deg) skew(25deg) translate(0,0);
  text-shadow: -1px 1px 0 white;
}
70%{
  //transform: rotate(-20deg) skew(25deg) translate(50px,-50px);
    text-shadow: 90px 50px 0 white;

    //filter: blur(2px);
}
30%{
  //transform: rotate(-20deg) skew(25deg) translate(50px,-50px);

    text-shadow: -90px 50px 0 white;
    //filter: blur(2px);
}
}
.S{
  margin-top: 100px;
}
.skills h2{
font-size: 20px;
}
.skills .col{
  text-align: right;
}
.skills h3 {
  margin-bottom: 30px;
  font-family: 'Jost', sans-serif;
  font-weight: bolder;
  font-size: 30px;
//text-shadow: 0px 0px 1px white;
}
.skills h4{
  font-family: 'Jost', sans-serif;
  font-weight: bolder;
  text-align: left;
  color: white;
}
.projects{
  margin-top: 60px;
 background-image: url('prob.webp');
 background-repeat: no-repeat;
 background-size: 100% 100%;
  margin-bottom: 100px;
  height: 700px;
}
.projects h1{
  color: white;
  text-shadow: 1px 1px 10px #980F5A;
  font-weight: lighter;
  font-family: 'Titan One', cursive;
  text-decoration: underline;
  margin-bottom: 100px;
}
.projects h2{
  color: white;
  font-size: 80px;
//  text-shadow: 1px 1px 10px #980F5A;
  font-weight: lighter;
  font-family: 'Titan One', cursive;
  text-decoration: underline;
}
.pro1{
  width: 800px;
    box-shadow: 0 0 20px #980F5A;
}
.pro2{
  height: 500px;
    box-shadow: 0 0 20px #980F5A;
}
.pro{
  height: 400px;
  width: 100%;
  box-shadow: 0 0 20px #980F5A;
  margin: 2px;
}
.text-center h3{
  color: #980F5A;
}
.text-center p{
  color: black;
}
.text-center h4{
  color: black;
}
.python{
  text-align: right;
}

.Contacts{
  background-image: url(./map.jpg);
  background-repeat: no-repeat;
  background-size: 100%;
}
.c{
  font-weight: lighter;
  color: white;
  text-shadow: -5px -5px 10px #980F5A;
  //background-color: white;
  font-family: 'Titan One', cursive;

}
.L{
  padding-top: 3px;
  transform: translate(-80% -80%);
  background: rgba(255, 255, 255, 0.5);
  box-shadow: 0px 0px 30px #980F5A;
  //box-shadow: 0 1px 2px rgba(0,0,0,0.9);
//  width: 600px;
  height: 450px;
  width: 100%;
  border-radius: 1000px;
}
.logo{
  height: 70px;
  width: 70px;
  border-radius: 20px;
}
.Contacts li{
  margin-top: 50px;
  margin-bottom: 80px;
  list-style: none;
}
.middle1{
margin-right: 100px;
}
.middle2{
  margin-left: 100px;
}
.foot li{
  font-size: 30px;
  list-style: none;
  font-family: 'Jost', sans-serif;
  color: black;
}
.ABOUT button{
  background-color: #980F5A;
  color: white;
  margin-top: 30px;
  border-radius: 10px;
}
